  
body{
  background-color: rgb(77, 253, 109) !important;
  font-family: 'Roboto', 'Raleway' !important;
}

.name-tamaño{
  font-size: 5rem;
  text-align: center;
  align-content: center,
}

.form-position{
  align-content: center;
}

#myBtn{
  text-align: center;
  font-size: 5rem;
}
#style-fomrcontrol{
  font-size: 3rem;
  block-size: 5rem;
  ;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}
